services:
  db:
    image: postgres:17.3
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
  app:
    build:
      dockerfile: Dockerfile
    depends_on:
      - db

volumes:
  db_data: