services:
  db:
    image: postgres:17.3
    container_name: postgres-db
    restart: no
    environment:
      POSTGRES_DB: ${DATABASE_NAME:-dev}
      POSTGRES_USER: ${DATABASE_USER:-dev}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD:-dev}
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  app:
    container_name: app
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:3000"
    depends_on:
      - db
    restart: no

volumes:
  db_data:
