services:
  db:
    image: postgres:17.3
    container_name: postgres-db
    restart: no
    environment:
      POSTGRES_NAME: $DATABASE_NAME
      POSTGRES_USER: $DATABASE_USER
      POSTGRES_PASSWORD: $DATABASE_PASSWORD
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  app:
    container_name: app
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:3000"
    depends_on:
      db:
        condition: service_healthy
    restart: no

volumes:
  db_data:
